/*CSS RESET*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*GLOBAL CSS*/
*{box-sizing: border-box; border: 0.5px solid white;}
body {
	background-color: black;
	font-family:"Open Sans";
	font-weight: 100;
	color: #ffffff;
	font-size: 16px;
}
footer {
	color: #c2c2c2;
}
h3 {
	padding: 0px 10px;
	text-align: left;
	position: relative;
	top: -40px;
	left: 0px;
	width: 100%;
}
.flex {
	display: flex;
}
.flex-row {
	flex-flow: row wrap;
}
.flex-col {
	flex-flow: column wrap;
}
.flex-align-center {
	justify-content: center;
	align-items: center;
}
.width-full {
	width: 100%;
}
.height-feed-block {
	height: 100vw;
}
.margin-10 {
	margin:10px;
}
.margin-25 {
	margin:25px;
}
.feedCell {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	width: 100%;
}
.feedImage {
	display: block;
  margin: auto;
	width: auto;
	height:100vw;
	z-index: -1;
}
.feedAbstract {
	background:	linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)),
	background-size: cover;
	z-index: 1;

}
/*
<div id="outputFeed" class="flex flex-col flex-align-center width-full">
	<div class="feedCell">
		<a href="#">
			<div class="feedAbstract">
				<img src="#" class="feedImage">
				<p>Abstract</p>
			</div>
		</a>
	</div>
</div>
*/

@media (min-width: 600px){}

@media (min-width: 1000px){}